body{
  min-width: 1400px;
}

p{
  text-align: center;
  font-size: 25px;
}

.area{
  overflow: hidden;
  border: 2px solid grey
  padding: 1%;
  /* width: 80%; */
  /* margin: 1%; */
}

.area img{
  width: 45%;
  /* border-radius: 10%; */
}

.area img[side="left"], .inner-area[side="left"]{
  float: left;
}

.area img[side="right"], .inner-area[side="right"]{
  float: right;
}

.area img[side="left"]{
  /* border-right: 4px solid black; */
}

.area img[side="right"]{
  /* border-left: 4px solid black; */
}

.inner-area{
  font-family: 'Roboto Mono', monospace;
  padding: 0.25% 1% 0.5% 1%;
  width: 50%;
}

.inner-area h1{
  font-size: 30px;
  /* background-color: navy;
  color: white;
  border-radius: 10px;
  padding: 10px; */
}

.inner-area ul{
  font-size: 25px;
}

#education{
}

#education-container{
  background-image: linear-gradient(to right, orange , #ffd483);
}

#uber{
}

/* Gradient credits to https://uigradients.com */

#uber-container{

  background: #a8ff78;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#nasa{
}

#nasa-container{
  background: #7F7FD5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #cfcfff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #91EAE4, #86A8E7, #cfcfff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.smaller_font{
  margin-top: 3%;
  font-size: 20px;
}

.icon-bullet {
  list-style-type: none;
  margin-left: -5%;
}

.icon-bullet img{
  width: 30px;
}

.icon-bullet span{
  position: relative;
  top: -5px;
  margin-left: 1%;
}

.divider{
  font-family: 'Roboto Mono', monospace;
  font-size: 30px;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0.5% 0 0.5% 0;
  background-color: navy;
  margin-top: 5%;
  color: white;
  /* border-top: 1px solid black; */
  /* border-bottom: 1px solid black; */
}

#resume{
  text-align: center;
  font-size: 40px;
}

.divider, .area{
  width: 90%;
  margin-left: 5%;
}
