body{
  background-color: #F7FFF7;
  margin: 0px;
}

#sean-gatewood{
  margin: 10px;
  font-family: 'Roboto Mono', monospace;
  font-size: 50px;
  padding: 20px;
}

#hero-img{
  width: 45%;
  border-radius: 30%;
  float: left;
  margin: 10px;
  margin-right: 20px;

}

#welcome{
  float: left;
}

#welcome h2{
  font-size: 30px;
}

#welcome p, #welcome li{
  font-size: 25px;
}

.course:nth-child(2n){
  background-color: #ffd992;
}

.course:nth-child(2n+1){
  background-color: #90e6f5;
}
