<div id="mindmap">
Click where you wanna go

<pre>
<div class="mermaid">
mindmap
  root((Sean's site))
    :::link:/#here-is-my-site
{% assign pages = site.html_pages | sort: "url" -%}
{%- for page in pages -%}
{%- assign path_parts = page.url | split: "/" -%}
{%- assign depth = path_parts | size -%}
{%- assign title = page.title | default: path_parts[depth-2] | replace: "-", " " | capitalize -%}
{%- if depth > 0 -%}
{%- assign depthX4 = depth | times: 2 -%}
{%- assign indent = "" -%}
{%- for i in (1..depthX4) -%}
{%- assign indent = indent | append: " " -%}
{%- endfor -%}
{%- capture block -%}
{{ indent }}{{ title }}
{{ indent }}:::link:{{ page.url }}
{% endcapture -%}
{{ block | nindent: 9 }}
{% endif -%}
{% endfor %}
</div>
</pre>
</div>

<div id="expander">
    <h3>gimme that fun lil site map</h3>
</div>

<script>
    if (window.location.pathname === "/") {
        document.getElementById("expander").style.display = "none";
    } else {
        document.getElementById("mindmap").style.display = "none";
        document.getElementById("expander").addEventListener("click", function () {
            document.getElementById("expander").style.display = "none";
            document.getElementById("mindmap").style.display = "";
            window.reinitializeMermaidWithTheme(jtd.getTheme())
        });
    }
</script>
