<button class="btn js-toggle-dark-mode" aria-label="Switch to light mode">
  ☼
</button>

<script>
  const toggleDarkMode = document.querySelector(".js-toggle-dark-mode");

  const setHtmlThemeAttr = (theme) => {
    document.documentElement.setAttribute("data-theme", theme);
  };

  jtd.addEvent(toggleDarkMode, "click", function () {
    if (jtd.getTheme() === "light") {
      jtd.setTheme("dark");
      setHtmlThemeAttr("dark");
      toggleDarkMode.textContent = "☼";
      toggleDarkMode.ariaLabel = "Switch to light mode";
      localStorage.setItem("theme", "dark");
    } else {
      jtd.setTheme("light");
      setHtmlThemeAttr("light");
      toggleDarkMode.textContent = "☾";
      toggleDarkMode.ariaLabel = "Switch to dark mode";
      localStorage.setItem("theme", "light");
    }
  });

  window.addEventListener("DOMContentLoaded", function () {
    const systemPrefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
    const storedTheme = localStorage.getItem("theme");
    const theme = storedTheme === null ? (systemPrefersDark ? "dark" : "light") : storedTheme;
    jtd.setTheme(theme);
    setHtmlThemeAttr(theme);
    toggleDarkMode.textContent = theme === "dark" ? "☼" : "☾";
  });
</script>

<script type="module" async>
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@11.7.0/dist/mermaid.esm.min.mjs';
    mermaid.run({
        querySelector: '.mermaid',
        postRenderCallback: (id) => {
            document.querySelectorAll(`#${id} [class*="link:"]`).forEach(node => {
                node.classList.forEach(className => {
                    if (className.startsWith('link:')) {
                        const url = className.split(':')[1];

                        node.addEventListener('click', () => {
                            window.open(`${url}`, '_self');
                        });
                    }
                });
            });
        }
    });
</script>
